<div class="container">
  <div class="jumbotron">
    <!-- <form action="" (submit)="searchRepos()">
      <h4>Search for Repos</h4>
      <input [(ngModel)]="githubUserQuery" type="search" name="repos" placeholder="Enter Repo name"><span><button
          type="submit">Search</button></span>
    </form> -->

    <div *ngFor="let repo of githubRepos" class="repo">
      <div class="card">
        <div class="card-header">
          <h2>{{repo.name}}</h2>
        </div>
        <div class="card-body">
          <p>{{repo.full_name}}</p>
          <p>{{repo.description}}</p>
          <p>{{repo.created_at | date}}</p>
          <p>{{repo.html_url}}</p>
        </div>
      </div>
    </div>



  </div>
</div>
