<div class="container">
  <div class="jumbotron">
    <!-- <form action="" (submit)="searchRepos()">
      <h4>Search for Repos</h4>
      <input [(ngModel)]="githubUserQuery" type="search" name="repos" placeholder="Enter Repo name"><span><button
          type="submit">Search</button></span>
    </form> -->



    <div class="row">
      <div *ngFor="let repo of githubRepos" class="d-flex col-md-12">
        <div class="card">
          <div class="card-header">
            <h2>{{repo.name}}</h2>
          </div>
          <div class="card-body">
            <p>{{repo.full_name}}</p>
            <p>{{repo.description}}</p>
            <p>{{repo.created_at | date}}</p>
            <p><a [href]="repo.html_url" target="_blank">{{repo.html_url}}</a></p>
          </div>

        </div>

      </div>
    </div>

    <!-- <div *ngFor="let repo of githubRepos" class="repo"> -->






  </div>
</div>
