<div class="container-fluid">
  <div class="jumbotron">


    <form action="" (submit)="searchRepos()">
      <h4 class="mb-3" >Search for Github Repositories</h4>
      <input [(ngModel)]="githubRepos" type="search" name="repos" placeholder=" Enter Repo name">
      <div>
        <button class="mt-3 mb-3" 
          type="submit">Search</button>
      </div>
      
    </form>

    <div class="row">
      <div *ngFor="let repo of githubRepos" class="d-flex col-md-4">
        <div class="card">
          <div class="card-header">
            <h2>{{repo.name}}</h2>
          </div>
          <div class="card-body">
            <p>{{repo.full_name}}</p>
            <p>{{repo.description}}</p>
            <p>{{repo.created_at|date}}</p>
            <p><a [href]="repo.html_url" target="_blank">{{repo.html_url}}</a></p>
          </div>

        </div>

      </div>
    </div>

    <!-- <div *ngFor="let repo of githubRepos" class="repo"> -->






  </div>
</div>
