<!-- <div class="searches"> -->
<div class="search">
  <form action="" (submit)="searchUser()">
    <h4>Search for user</h4>
    <input [(ngModel)]="githubUserQuery" type="search" name="user" placeholder="Enter github username"><span><button
        type="submit">Search</button></span>
  </form>
</div>
<div>
  <a href="">users</a>
  <a href="">Repos</a>
</div>
<div>
  <app-user-profile [githubData]="githubData"></app-user-profile>
</div>

<!-- <div class="search">
    <h4>Search for repository</h4>
    <input type="text" placeholder="Search for a repository"><span><button type="search">Search</button></span>
</div> -->
<!-- </div> -->
