.card{
    width: 50%;
     border: 2px solid maroon;
    box-shadow: 5px 5px 5px maroon;
}
.row{
    width: 100%;
}
img{
    border-radius: 50%;
}
.first{
   display: flex; 
  font-size: 2em;
  margin-top: 9%;
  /* background-image: radial-gradient(red , green , blue ); */
}
.profile{
    padding-top: 5%;
    margin-right: 10%;
}