<div *ngIf="githubData" class="container">
  <div class="first">
    <div class="profile">
      <!-- //property binding on src -->
      <img [src]="githubData.avatar_url" alt="" height="300">
    </div>
    <div>
      <p> <strong> User Name : </strong>{{githubData.login}}</p>
      <p> <strong> Total Repos : </strong>{{githubData.public_repos}}</p>
      <p><strong>Followers : </strong>{{githubData.followers}}</p>
      <p><strong>Following : </strong>{{githubData.following}}</p>
      <p><strong>Total Gists : </strong>{{githubData.public_gists}}</p>
      <p><strong>Github Profile : </strong><a [href]="githubData.html_url" target="_blank">{{githubData.html_url}}</a></p>
      <p>This github account was created on : <strong>{{githubData.created_at | date}}</strong></p>
    </div>

    <!-- <div *ngFor = "let repo of githubRepos" class="repo">
      <div  class="card">
        <div class="card-header">
          <h2 >{{repo.name}}</h2>
        </div>
        <div class="card-body">
          <p>{{repo.description}}</p>
        </div>
      </div>
      
    </div> -->
     <!-- <app-github-repos [githubRepos]="githubRepos" ></app-github-repos> -->
  </div>
</div>
